i {
  display: inline;
  list-style-type: none;
  padding-right: 15px;
}

.icon{
  color: #333;
  text-decoration: none;
}

.icon:hover{
  color: #444;
  text-decoration: none;
}
.grow{
  transition: all .4s ease-in-out;
}

.grow:hover{
  transform: scale(1.1);
}

.nav-item-grow{
  transition: all .6s ease-in-out;
}

.nav-item-grow:hover{
  transform: scale(1.1);
}



.profile{
  max-width: 100%;
}

.main-content{
  padding-top: 3%;
  padding-bottom: 5%;
}

.content{
  position: relative;
}

.container{
  border-radius: 5px;
-webkit-box-shadow: 12px 13px 48px -5px rgba(0,0,0,0.58);
-moz-box-shadow: 12px 13px 48px -5px rgba(0,0,0,0.58);
box-shadow: 12px 13px 48px -5px rgba(0,0,0,0.58);
}

.container-padding{
  padding: 4%;
}



/* POPOVER STUFF*/


.navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0;
    margin-left: 25px; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #fff; }
  .navbar-link.active {
    color: #fff; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 100%; }
  .navbar{
    margin-bottom: 3%;
    background-color: #222;
    -webkit-box-shadow: 9px 5px 31px 0px rgba(0,0,0,0.46);
    box-shadow: 9px 5px 31px 0px rgba(0,0,0,0.46);
    border-radius: 5px;
  }



/* MEDIA QUERIES*/


@media (min-width: 550px) {
  .profile{padding-top: 5%}
  .navbar{padding-left: 0;}
}

@media (min-width: 750px) {
  .content{padding-top: 10%}
    .navbar{padding-left: 0;}
}


@media (min-width: 1000px) {
  .content{padding-top: 10%}
  .navbar{padding-left: 0;}
}

@media (min-width: 1200px) {
  .content{padding-top: 13%}
  .navbar{padding-left: 0;}
}




/* TESTING */

html, body {
    height: 100%;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
